[submodule "readium-sdk"]
	path = readium-sdk
	url = git@github.com:NYPL/readium-sdk.git
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = git@github.com:readium/readium-shared-js.git
[submodule "tenprintcover-ios"]
	path = tenprintcover-ios
	url = git@github.com:NYPL/tenprintcover-ios.git
