.DS_Store
*.xccheckout
xcuserdata
Pods
DerivedData
.idea
.vscode
Build
adobe-rmsdk
**/ReaderClientCert.sig
Simplified/APIKeys.swift
AudioEngine.json
Carthage
GoogleService-Info.plist
Simplified/NYPLSecrets.swift
