[
    {
        "authPasscodeAllowsLetters": false,
        "authPasscodeLength": 4,
        "catalogUrl": "https://circulation.librarysimplified.org/NYNYPL/",
        "eulaUrl": "http://www.librarysimplified.org/EULA.html",
        "id_numeric": 0,
        "id_uuid": "urn:uuid:065c0c11-0d0f-42a3-82e4-277b18786949",
        "inProduction": true,
        "licenseUrl": "http://www.librarysimplified.org/license.html",
        "logo": "",
        "mainColor": "red",
        "name": "The New York Public Library",
        "needsAuth": true,
        "pinRequired": true,
        "privacyUrl": "http://www.librarysimplified.org/privacypolicy.html",
        "subtitle": "Inspiring lifelong learning, advancing knowledge, and strengthening our communities.",
        "supportEmail": "simplyehelp@nypl.org",
        "supportsBarcodeDisplay": true,
        "supportsBarcodeScanner": true,
        "supportsCardCreator": true,
        "supportsReservations": true,
        "supportsSimplyESync": true
    },
    {
        "authLoginLength": 4,
        "authPasscodeAllowsLetters": false,
        "authPasscodeLength": 4,
        "cardCreatorUrl": "https://go.bklynlibrary.org/ecard",
        "catalogUrl": "https://bplsimplye.bklynlibrary.org/NYBKLYN/",
        "eulaUrl": "http://www.bklynlibrary.org/policy/terms-conditions",
        "id_numeric": 1,
        "id_uuid": "urn:uuid:edef2358-9f6a-4ce6-b64f-9b351ec68ac4",
        "inProduction": true,
        "licenseUrl": "http://www.librarysimplified.org/bklynlicenses.html",
        "logo": "",
        "mainColor": "blue",
        "name": "Brooklyn Public Library",
        "needsAuth": true,
        "pinRequired": true,
        "privacyUrl": "http://www.librarysimplified.org/bklynprivacypolicy.html",
        "subtitle": "Connecting people to resources to achieve their goals.",
        "supportEmail": "askus@bklynlibrary.org",
        "supportsBarcodeDisplay": false,
        "supportsBarcodeScanner": false,
        "supportsCardCreator": false,
        "supportsReservations": true,
        "supportsSimplyESync": true
    },
    {
        "authPasscodeAllowsLetters": false,
        "catalogUrl": "https://circulation.librarysimplified.org/CLASSICS/",
        "catalogUrl13": "http://simplye-collection-redirects.librarysimplified.org/all-books.xml",
        "catalogUrlUnder13": "http://simplye-collection-redirects.librarysimplified.org/childrens-books.xml",
        "id_numeric": 2,
        "id_uuid": "urn:uuid:56906f26-2c9a-4ae9-bd02-552557720b99",
        "inProduction": true,
        "licenseUrl": "http://www.librarysimplified.org/iclicenses.html",
        "logo": null,
        "mainColor": "teal",
        "name": "The SimplyE Collection",
        "needsAuth": false,
        "pinRequired": true,
        "subtitle": "A selection of classics and modern material available to anyone, with no library card necessary.",
        "supportsBarcodeDisplay": false,
        "supportsBarcodeScanner": false,
        "supportsCardCreator": false,
        "supportsReservations": false,
        "supportsSimplyESync": false
    }
]
