import Foundation

// All properties must be set to non-nil values.

@objc class APIKeys: NSObject {
  static let bugsnagID: String = ""
  static let cardCreatorEndpointURL: URL = URL.init(string: "")!
  static let cardCreatorVersion: String = ""
  static let cardCreatorUsername: String = ""
  static let cardCreatorPassword: String = ""
  static let helpstackBaseUrl: String = ""
  static let helpstackToken: String = ""
  static let helpstackBrandID: String = ""
}
