import Foundation

import HelpStack

class APIKeys: NSObject {

  static let bugsnagID: String = ""

  static let cardCreatorEndpointURL: URL = URL.init(string: "")!
  static let cardCreatorVersion: String = ""
  static let cardCreatorUsername: String = ""
  static let cardCreatorPassword: String = ""

  // These are used for the main help center in the top level of Settings.
  static let helpstackBaseUrl: String = ""
  static let helpstackToken: String = ""
  static let helpstackBrandID: String = ""

  // FIXME:
  // As ugly as this is, this needs to live here until the library registry
  // is completed and this information is pulled from a server. The
  // identifiers correspond to the `id` fields in "Accounts.json".
  static let libraryIdentifiersToHelpStackGears: [NSNumber: HSGear] = [:]
}
