import Foundation

@objcMembers class APIKeys: NSObject {
  static let bugsnagID: String = ""

  static let cardCreatorEndpointURL: URL = URL.init(string: "")!
  static let cardCreatorVersion: String = ""
  static let cardCreatorUsername: String = ""
  static let cardCreatorPassword: String = ""
}
