import Foundation

@objcMembers class APIKeys: NSObject {
  static let cardCreatorEndpointURL: URL = URL.init(string: "")!
  static let cardCreatorVersion: String = ""

  struct PlatformAPI {
    static let oauthTokenURL = URL(string: "https://example.org/oauth/token")!
    static let baseURL = URL(string: "https://example.org/api/v0.3/")!
  }
}
